<button (click)="onClick()" type="button" [ngClass]="[
    'py-2.5 px-5 me-2 mb-2 text-sm font-medium  rounded-full border hover:bg-red-700 focus:bg-neutral-blue-100 hover:text-white focus:z-10 focus:outline-2  focus:outline-offset-2 focus:outline-red-400   dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700 active:bg-red-400 active:text-white',
    active ? 'bg-red-700 text-white border-red-400' : 'bg-white text-gray-900 border-gray-200 dark:bg-neutral-800 dark:text-neutral-300'
  ]">{{name}}</button>
