<div class="w-vw flex justify-center px-4 lg:px-4 bg-gradient-dark dark:bg-red-100">

  <div class="contex w-full lg:w-3/4  mb-6">

    <!-- theme -->
    <div
      class="bg-white border border-gray-200 dark:bg-neutral-800 dark:border-gray-700 flex items-center justify-between p-3 rounded-lg shadow-sm mt-6 ">
      <img alt="logo" class="p-1" src="assets/images/logo.svg" />
      <button (click)="onThemeToggle()">

        @if(theme()==="light"){
        <img alt="theme" src="assets/images/icon-moon.svg" class="p-3 rounded-lg bg-neutral-200" />
        }
        @if(theme()==="dark"){
        <img alt="theme" src="assets/images/icon-sun.svg" class="p-3 rounded-lg bg-neutral-700" />
        }
      </button>
    </div>


    <!-- buttons -->
    <div class="grid grid-cols-1 mx-auto lg:mx-0 md:flex md:items-center md:justify-between my-6">
      <h1 class="font-noto mx-auto lg:mx-0 mb-6 md:mb-0 text-[36px] font-bold  text-slate-800 dark:text-white">
        Extensions List
      </h1>
      <div class="mx-auto lg:mx-0">
        <app-button [name]="'All'" (select)="onAllExtension()" [active]="selectedStatus==='all'" />
        <app-button [name]="'Active'" (select)="onctiveExtensions()" [active]="selectedStatus==='active'" />
        <app-button [name]="'Inactive'" (select)="onInActiveExtensions()" [active]="selectedStatus==='inactive'" />
      </div>
    </div>

    <!-- Extensions cards -->
    <div class="grid grid-cols-1 gap-4 md:grid-cols-2 lg:grid-cols-3">
      @for(card of showList;track card.name){
      <app-card [card]="card" (select)="onDeleteExtension($event)" />
      }
    </div>

  </div>
</div>

<router-outlet />
